html {
  font-family: $font-noto-sans;
  font-size: 10px;
  font-feature-settings: 'palt';
  @include sp {
    min-width: 100%;
  }
}

a {
  transition: 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}

section {
  width: 100%;
}

h1 {
  font-size: 28px;
  @include sp {
    font-size: getsp(50px);
  }
}

h2 {
  font-size: 24px;
  @include ie11 {
    font-size: 22px;
  }
  @include sp {
    font-size: getsp(36px);
  }
}

h3 {
  font-size: 18.02px;
  @include sp {
    font-size: getsp(32px);
  }
}

h4 {
  font-size: 16.02px;
  @include sp {
    font-size: getsp(28px);
  }
}

p {
  font-size: 16px;
  @include ie11 {
    font-size: 15px;
  }
  @include sp {
    font-size: getsp(28px);
  }
}

.text-center {
  text-align: center;
}
